
@font-face {
    font-family: 'BitcoinFont';
    src: url('path/to/BitcoinFont.ttf'); /* Add your font file path */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(24, 30, 37);
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.price-container {
    display: flex;
    flex-direction: column; /* Stack prices vertically */
    align-items: center; /* Center align items */
    gap: 10px; /* Space between prices */
}

h1 {
    font-size: 10vw;
    line-height: 1.5; /* Improve readability */
    margin: 0; /* Remove default margin */
}

.price {
    transition: color 0.5s ease; /* Smooth color transition */
}

/* Scale effect on price update */
.digital-price.updated {
    transform: scale(1.1); /* Slightly enlarge when updated */
}

.green {
    color: #28a745; /* Bootstrap green */
}

.red {
    color: #dc3545; /* Bootstrap red */
}

.error {
    color: #d9534f; /* Fun red color for errors */
    padding: 15px; /* Padding for better spacing */
    margin-top: 10px; /* Space above the error message */
    font-size: 10vw;
    border-radius: 8px; /* Rounded corners for a softer look */
    text-align: center; /* Center align text */
}

.hidden {
    display: none; /* Hide the element */
}
/* ATH celebration */

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.confetti {
    position: fixed;
    animation: confetti-fall linear infinite;
    opacity: 0;
}

@keyframes firework {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.firework {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
    animation: firework 1.5s ease-out infinite;
}

@keyframes bitcoin-firework {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.bitcoin-firework {
    position: fixed;
    animation: bitcoin-firework 1.5s ease-out infinite;
}

.bitcoin-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    font-size: 2em;
    color: black;
}

.bitcoin-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#prices {
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 1000;
}